[Desktop Entry]
Name=Hungry IP Scanner
Comment=A simple utility for scanning ip adresses over local network
Exec=hungryipscanner
Icon=hungryipscannerlogo
Terminal=false
Type=Application
Categories=Utility;Network;
StartupWMClass=com.github.juliengrdn.hungryipscanner
StartupNotify=true
